<!DOCTYPE html>

<html>
    <head>
        <title>Check For Rumor</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;">
            <br>
            Tweet: <input type="text" name="tweet", placeholder="Enter the tweet" required/>          
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
        <p style="text-align: center;">{{ output2 }}</p>
    </body>
</html>
